*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


#body{
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: #434262;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}










/* Pokedex container start */

#pokedex{
    width: 100%;
    margin-top: 100px;
    position: relative;
    background-color: #434262;
}

#pokedexContainer{
    width: 85%;
    /* height: 95%; */
    margin: auto;
    background-color: #3e3d5a;
}

#searchSection{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    background-color: #505074;
}

#search{
    width: 100%;
    max-width: 370px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#searchButton{
    width: 18%;
    height: 100%;
}

#searchButton img{
    cursor: pointer;
    object-fit: contain;
}

#serachInputField{
    width: 80%;
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    transition: .5s;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#search button{
    width: fit-content;
    /* min-width: 85px; */
    /* max-height: 30px;
    min-height: 30px; */
    height: 100%;
    padding: 5px 10px;
    background-color: #434262;
    border: 1px solid #b9b1df;
    color: white;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

#serachInputField input{
    width: 0%;
    height: 85%;
    font-size: min(4vw, 20px);
    color: white;
    background: transparent;
    transition: .5s;
    outline: none;
    border: none;
    padding: 0px;
}






#status-page{
    width: 100%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

#status-gif{
    width: 80%;
    height: 65%;
    padding: 15px;
    text-align: center;
}

#status-gif img{
    width: auto;
    height: 100%;
}

#status-message{
    width: 80%;
    height: 35%;
    color: #b9b1df;
    text-align: center;
}










#pokemonCard{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
}

#card{
    width: 100%;
    height: 500px;
    max-width: 370px;
    background-color: white;
}

#card-image{
    width: 100%;
    height: 55%;
    max-height: 450px;
    background-color: thistle;
    clip-path: circle(74.1% at 51% 11%);
}

#card-image img{
    width: 100%;
    height: 100%;
}

#card-details{
    width: 100%;
    height: 45%;
    font-size: min(5vw, 25px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#card-details::-webkit-scrollbar{
    display: none;
}



#pokemon-name{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.info-container{
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: min(5vw, 20px);
}


.info-container p span{
    font-weight: bold;
}

@media (max-width: 450px){
    #card-image{
        clip-path: none;
    }
}

/* Pokedex container end */