*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


#body{
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: #434262;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}






/* RPC container start */

#RPC-baseContainer{
    width: 85%;
    height: 95%;
    margin: auto;
    background-color: #3e3d5a;
}


#RPC-header{
    width: 100%;
    font-size: 25px;    
    padding: 10px 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505074;
    font-family: 'Montserrat', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #b9b1df;
}

#RPC-header h1{
    width: fit-content;
}

#RPC-header span{
    color: #b9b1df;
}

#RPC-content{
    width: 100%;
    height: 88%;
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#RPC-content::-webkit-scrollbar{
    display: none;
}

.card{
    width: 100%;
    height: 500px;
    max-width: 345px;
    background-color: white;
}

.card-image{
    width: 100%;
    height: 55%;
    max-height: 450px;
    background-color: thistle;
    clip-path: circle(74.1% at 51% 11%);
}

.card-image img{
    width: 100%;
    height: 100%;
}

.card-details{
    width: 100%;
    height: 45%;
    font-size: min(5vw, 25px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-details::-webkit-scrollbar{
    display: none;
}

#refresh-btn-container{
    width: 5%;
    float: right;
    min-width: 50px;
    height: fit-content;
    cursor: pointer;
}

#refresh-btn-container img{
    display: flex;
    align-items: center;
    object-fit: contain;
}

@media (max-width: 450px){
    .card-image{
        clip-path: none;
    }
}

/* RPC container end */